body{
  color: purple;
  font-size: 30px;
  background: pink;
  text-align: center;
}

.first-of-all {
  color: black;
}

.firstgroup {
  color: red;
}

.lastgroup {
  color: grey;
}

#important {
  font-size: 40px
}
